allow bluetooth bluetooth_efs_file:file read;
allow bluetooth bluetooth_efs_file:dir search;
# TODO restrict to needed sysfs paths
allow bluetooth sysfs:file write;
